@import "../../global.scss";

li {
    font-size: 27px;
    font-weight: 700;
    color: $moreLighterGrey;
    margin-bottom: 18px;
    
    a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            font-size: 30px;
            color: white;
        }
    }
}