@import "../../global.scss";

.menu {
    width: 330px;
    height: 100vh;
    background-color: $primaryColor;
    position: fixed;
    top: 0;
    right: -330px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;

    &.active {
        right: 0;
    }

    img {
        margin: 90px 0 -90px 0;
        width: 30%;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 60%;
    }

    p {
        margin-bottom: 50px;
        color: $moreLighterGrey;
        font-size: 13px;
    }
}