@import "../../global.scss";

.topbar {
    width: 100%;
    height: 80px;
    background-color: $primaryColor;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .center {
            width: 100%;
            display: flex;
            justify-content: center;

            .logo {
                padding-left: 30px;
                font-family: 'Oooh Baby', cursive;
                font-size: 45px;
                color: inherit;
                text-decoration: none;
            }

            @include mobile {
                justify-content: flex-start;

                .logo {
                    padding-left: 0;
                }
            }
        }

        .right {
            overflow-y: hidden;

            .hamburger {
                width: 100;
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                color: white;
                
                span {
                    height: 3px;
                    background-color: white;
                    transform-origin: right;
                    transition: all 0.5s ease;
                }
            }
        }
    }

    &.active {
        .hamburger {
            span {
                &:first-child {
                    transform: rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: rotate(45deg);
                }
            }
        }
    }
}