.notificationSuccess {
    background-color: limegreen;
    color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 5px;
}

.notificationError {
    background-color: crimson;
    color: white;
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 5px;
}