@import "../../global.scss";

.about {
    background-color: $lightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorGainsboro;

    h1 {
        font-size: 50px;
        margin: 8px 0 20px 0;
    }

    span {
        margin: 15px 0;
        width: 30%;
        height: 2px;
        border-radius: 5px;
        background-color: $colorGainsboro;
    }

    a {
        text-decoration: none;
        color: inherit;

        .iconMail {
            color: $colorSilver;
            transition: all 0.7s ease;

            &:hover {
                color: white;
                transform: scale(1.05);
            }
        }
    }

    .iconInfo {
        font-size: 50px;
        margin-top: 25px;
    }


    .pDesc {
        width: 55%;
        font-size: 15px;
        line-height: 1.5;
        text-align: justify;
    }

    .pContact {
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
        color: $colorSilver;
        margin-bottom: 2px;
    }
}