@import "../../global.scss";

.contact {
    background-color: $lighterGrey;
    display: flex;

    .left {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 0.4;
        overflow: hidden;

        @include tablet {
            background-position: 50% 72%;
        }
    }

    .right {
        flex: 0.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $colorSilver;

        h2 {
            font-size: 40px;
            margin: 0 0 0 2px;

            @include mobile {
                font-size: 28px;
                margin: 2px 0;
            }

            @include tablet {
                font-size: 34px;
                margin: 7px 0;
            }
        }

        p {
            text-align: center;
            line-height: 1.5;
            width: 50%;
            margin-bottom: 0;

            @include mobile {
                font-size: 12px;
                width: 80%;
                margin: 2px 0;
            }

            @include tablet {
                font-size: 14px;
                width: 75%;
                margin: 7px 0;
            }
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input {
                font-size: 15px;
                width: 370px;
                border: none;
                border-radius: 0.25rem;
                padding: 12px;
                margin: 5px 0;
                appearance: none;

                &:focus {
                    outline: none;
                }

                @include mobile {
                    font-size: 12px;
                    width: 200px;
                    padding: 8px;
                }

                @include tablet {
                    font-size: 14px;
                }
            }

            textarea {
                font-size: 15px;
                width: 370px;
                min-height: 150px;
                max-height: 230px;
                border: none;
                border-radius: 0.25rem;
                padding: 12px;
                margin: 5px 0;
                appearance: none;
                resize: vertical;

                &:focus {
                    outline: none;
                }

                @include mobile {
                    font-size: 12px;
                    width: 200px;
                    min-height: 80px;
                    padding: 8px;
                }
            }

            button {
                font-size: 16px;
                width: 200px;
                padding: 12px;
                margin: 15px 0;
                background-color: $lighterGrey;
                border: 3px solid $colorSilver;
                color: $colorSilver;
                transition: all 0.4s ease;
                cursor: pointer;

                &:hover {
                    background-color: $colorSilver;
                    color: $primaryColor;
                }

                @include mobile {
                    margin-top: 5px;
                    font-size: 13px;
                    padding: 10px;
                }
            }
        }
    }

    @include mobile {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }
}    