@import "../../global.scss";

.contact {
    background-color: $lighterGrey;
    display: flex;

    .left {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        flex: 0.4;
        overflow: hidden;

        img {
            width: 100%;
            align-items: flex-start;
        }
    }

    .right {
        flex: 0.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $colorSilver;

        h2 {
            font-size: 40px;
            margin-bottom: 2px;
        }

        p {
            text-align: center;
            line-height: 1.5;
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            input {
                font-size: 16px;
                width: 300px;
                border-width: 1px;
                border-radius: 0.25rem;
                padding: 12px;
                appearance: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}    