@import "../../global.scss";

.intro {
    background-color: $secondaryColor;
    display: flex;
    height: 100%;

    .left {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            color: $colorSilver;

            h1 {
                font-size: 60px;
                margin: 2px 30px 2px 0;

                @include mobile {
                    font-size: 40px;
                    margin: 5px 0;
                }

                @include tablet {
                    font-size: 50px;
                    margin: 5px 0;
                }

                @include laptop {
                    font-size: 50px;
                    margin: 5px 0;
                }
            }

            h2 {
                font-size: 35px;
                margin: 2px 30px 2px 0;

                @include mobile {
                    font-size: 27px;
                    margin: 5px 0;
                }

                @include tablet {
                    margin: 5px 0;
                }

                @include laptop {
                    font-size: 30px;
                    margin: 5px 0;
                }
            }

            h3 {
                font-size: 30px;
                margin: 2px 30px 2px 0;

                span {
                    font-size: inherit;
                    color: white;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }

                @include mobile {
                    font-size: 20px;
                    margin: 5px 0;
                }

                @include tablet {
                    margin: 5px 0;
                }

                @include laptop {
                    font-size: 27px;
                    margin: 5px 0;
                }
            }

            @include mobile {
                padding-left: 0;
                align-items: center;
            }

            @include tablet {
                padding-left: 0;
                align-items: center;
            }
        }

        @include mobile {
            flex: 0.4;
        }

        @include tablet {
            flex: 0.4;
        }

        @include laptop {
            flex: 0.45;
        }
    }

    .right {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 800px;
            height: 800px;
            border-radius: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: left;
            margin-top: 15px;

            img {
                height: 100%;
                border-radius: 50%;

                @include mobile {
                    height: 44%;
                }

                @include tablet {
                    height: 65%;
                }

                @include laptop {
                    height: 70%;
                }
            }
        }

        @include mobile {
            flex: 0.6;
        }

        @include tablet {
            flex: 0.6;
        }

        @include laptop {
            flex: 0.55
        }
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
    }
}